{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/state-in-constructor": [0, "never"]
  },
  "parser": "babel-eslint"
}
